<div class="h-screen flex items-center justify-center">
  <div class="bg-white p-8 rounded-lg border border-gray-200 ">
    <div class="space-y-4">
      <p class="text-lg text-center text-gray-500">I am a...</p>
      <%= button_to 'Doctor', doctor_index_path, method: :get, class: 'min-w-sm text-2xl w-full bg-gray-500 hover:bg-gray-600 text-white px-6 py-2 rounded' %>
      <%= button_to 'Patient', patient_index_path, method: :get, class: 'min-w-sm text-2xl w-full bg-gray-500 hover:bg-gray-600 text-white px-6 py-2 rounded' %>
    </div>
  </div>
</div>