<header class="bg-white shadow-sm border-b border-gray-200">
  <div class="mx-auto px-2">
    <div class="flex justify-between items-center h-16">
      <div class="flex-shrink-0">
        <h1 class="text-xl font-semibold text-gray-900">
          <%= link_to 'Patient Feedback Collection System', root_path %>
        </h1>
      </div>

      <nav class="flex space-x-2">
        <%= link_to 'Patients', patients_path, class: "text-gray-500 hover:text-gray-900 px-3 py-2 text-sm font-medium transition-colors duration-200" %>
        <%= link_to 'Doctors', doctors_path, class: 'text-gray-500 hover:text-gray-900 px-3 py-2 text-sm font-medium transition-colors duration-200' %>
      </nav>
    </div>
  </div>
</header>